@use "../abstract" as *;
@use "../util/" as *;

/* ............. About Page .............. */

.container-about {
  background-color: $primary-color;
  width: 100%;
  min-height: 100vh;
  text-align: center;
}

.hero-about {
  text-align: center;
  padding-top: 9.5rem;
  padding-bottom: 2rem;
  min-height: 100vh;
  background: linear-gradient(to right, rgba(rgb(255, 255, 255), 0.2), rgba(black, 0.1)), url(../app/assets/Ellipse.svg), url(../app/assets/Ellipse.svg), url(../app/assets/patt.svg);
  background-repeat: no-repeat;
  background-position: center, bottom 58% left, right top 85%, top 28% right;
  background-size: 100%, 3rem, 7rem, 4rem;

  .hero-about-desc {
    color: $last-color;
    font-size: $normal + 0.2rem;
  }

  .hero-about-title {
    color: $last-color;
    margin-bottom: 0.9rem;
    text-transform: uppercase;
    font-family: "Cocogoose", sans-serif;
    font-weight: 500;
  }

  @include breakpoint-up(small) {
    background: linear-gradient(to right, rgba(rgb(255, 255, 255), 0.2), rgba(black, 0.2)), url(../app/assets/Ellipse.svg), url(../app/assets/Ellipse.svg), url(../app/assets/patt.svg), url(../app/assets/rpi_vector.svg), url(../app/assets/checkbox.svg);
    background-repeat: no-repeat;
    background-position: center, bottom 58% left 9rem, right 18rem top 78%, top 28% right 90rem, top 20% center, top 80% center;
    background-size: 100%, 6rem, 7rem, 4rem, 6rem, 14rem;
    background-attachment: fixed;

    .hero-about-desc {
      margin-top: 4rem;
      font-size: $medium;
    }

    .hero-about-title {
      font-size: $biggest + 0.5rem;
    }
  }
}

.about-desc {
  margin-top: 1.7rem;
  color: $secondary-color;

  .first {
    background-color: #fff;
    outline: rem(2) solid darken($primary-color, 10%);
    line-height: 1.5;
    padding: 1rem;
    color: $secondary-color;
  }

  .second {
    margin-top: 3rem;
  }

  a {
    color: #0f0f0f;
    font-weight: 700;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -0.01rem;
      left: 0;
      width: 100%;
      height: 0.1rem;
      background-color: #0f0f0f;
    }
  }

  @include breakpoint-up(small) {
    .first {
      width: 70%;
      margin: 0 auto;
    }

    .first,
    .second {
      font-size: $normal + 0.2rem;
    }
  }
}

.logo-about {
  background-color: #fff;
  padding-block: 4rem 2rem;
}

.logo-header {
  position: relative;
  margin-bottom: 2rem;

  h1 {
    font-size: $medium;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -0.3rem;
    left: 50%;
    transform: translateX(-50%);
    width: 15%;
    height: 0.1rem;
    background: linear-gradient(to right, $secondary-color, $last-color);
  }
}

.logo-desc {
  p {
    margin-bottom: 1rem;
  }
}

.logo-img {
  width: 100%;
  height: auto;
  outline: rem(1.9) solid lighten($secondary-color, 70%);
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    height: 14rem;
    object-fit: cover;
  }

  @include breakpoint-up(small) {
    img {
      width: 100%;
      height: 18rem;
      object-fit: cover;
    }
  }
}

//..................Divisor (Line)...........

.hr-line {
  width: 100%;
  height: 0.1rem;
  background-color: lighten($secondary-color, 60%);
}

.past {
  padding-block: 3rem 2rem;
  background-color: #fff;

  h1 {
    font-size: $medium;
  }
}

.past-header {
  position: relative;
  margin-bottom: 2rem;

  &::after {
    content: "";
    position: absolute;
    bottom: -0.6rem;
    left: 50%;
    transform: translateX(-50%);
    width: 45%;
    height: 0.1rem;
    background: linear-gradient(to right, $secondary-color, $last-color);
  }
}

.past-img {
  width: 100%;
  color: #fff;
  font-size: $medium;
  gap: 1rem;

  .image-one {
    background: linear-gradient(rgba(135, 83, 83, 0.798), rgba(25, 23, 23, 0.611)), url(../app/assets/Workshop1.webp) no-repeat center;
    background-size: cover;
    height: 10rem;
    width: 100%;
  }

  .image-two {
    background: linear-gradient(rgba(135, 83, 83, 0.798), rgba(25, 23, 23, 0.611)), url(../app/assets/Workshop2.webp) no-repeat center;
    background-size: cover;
    height: 10rem;
    width: 100%;
  }

  @include breakpoint-up(small) {
    flex-direction: row;
    height: 20rem;

    .image-one,
    .image-two {
      height: 100%;
      transition: all 300ms ease-in-out;
      box-shadow: 4px 3px 10px rgba(0, 0, 0, 0.231);
      border-radius: 2px;
    }

    .image-one:hover,
    .image-two:hover {
      transform: scale(1.04);
      cursor: pointer;
    }
  }
}
