@use "../abstract" as *;
@use "../util/" as *;

/* ............. About Page .............. */

.container-about {
  background-color: $primary-color;
  width: 100%;
  min-height: 100vh;
}

.hero-about {
  text-align: center;
  padding-top: 5rem;
  min-height: 100vh;
  background: url(../../app/assets/Ellipse.svg) no-repeat center left / 3rem;

  .hero-about-desc {
    color: $last-color;
    font-size: $normal + 0.2rem;
  }

  .hero-about-title {
    color: $last-color;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
  }
}
