@use "../abstract/" as *;

.button {
  outline: none;
  border: none;
  border-radius: 0.3rem;
  padding: 0.5rem;
  background-color: $last-color;
  width: fit-content;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 200ms ease-in-out;

  &:hover {
    background-color: $primary-color;
    cursor: pointer;
  }
}
