@use "../util" as *;
@use "../abstract/" as *;

/* ........... Header ............ */

.header-top {
  width: 100%;
  height: 4rem;
  background-color: lighten($primary-color, 100%);
  position: fixed;
  z-index: 99;
}

.menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba($secondary-color, 0.6);
  backdrop-filter: blur(rem(15));
  transform: translateX(100%);
  transition: all 500ms ease-in-out;

  &::after {
    content: "";
    position: absolute;
    bottom: 0.2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    height: 0.3rem;
    border-radius: 5rem;
    background-color: $last-color;
  }

  .nav-links {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }

  .nav-link {
    color: #fff;
    transition: all 200ms ease-in-out;
    font-size: $medium + 0.4rem;

    &:hover {
      color: $last-color;
    }
  }

  &-active {
    transform: translateX(0);
  }

  @include breakpoint-up(small) {
    position: static;
    display: flex;
    transform: none;
    transition: none;
    width: 70%;
    height: auto;
    background: none;

    &::after {
      display: none;
    }

    .nav-links {
      flex-direction: row;
      gap: 4vw;
    }

    .nav-link {
      font-size: $normal;
      color: $secondary-color;
    }

    li:last-child {
      transition: transform 300ms ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

.logo {
  img {
    width: 4rem;
    height: 4rem;
    margin-left: -1rem;
  }
}

.logo a {
  color: rgb(27, 26, 26);
  font-size: $medium + 0.3rem;
  transition: all 200ms linear;
  margin-left: -1rem;

  &:hover {
    color: $last-color;

    .span {
      color: rgb(27, 26, 26);
    }
  }
}

.contact {
  @include breakpoint-up(small) {
    border: rem(5) solid $last-color;
    padding: 0.5rem 1.5rem;
    margin-left: 3%;
    color: $last-color !important;
  }
}

.btn-container {
  width: fit-content;
  height: 37%;
  z-index: 999;

  &:hover {
    cursor: pointer;
  }

  .menu-btn {
    position: relative;
    width: 1.2rem;
    height: 0.2rem;
    background-color: $secondary-color;
    transition: all 500ms ease-in-out;

    &::before {
      content: "";
      position: absolute;
      top: -0.35rem;
      left: 0;
      width: 1.2rem;
      height: 0.2rem;
      background-color: $secondary-color;
      transition: all 600ms ease-in-out;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0.35rem;
      left: 0;
      width: 1.2rem;
      height: 0.2rem;
      background-color: $secondary-color;
      transition: all 600ms ease-in-out;
    }

    &-active {
      background-color: transparent;
      right: 0.5rem;
      transform: rotate(360deg);
      transition: all 500ms ease-in-out;

      &::before {
        transform: rotate(45deg) translate(5px, 3px);
        background-color: lighten($secondary-color, 100%);
      }

      &::after {
        transform: rotate(-45deg) translate(5px, -3px);
        background-color: lighten($secondary-color, 100%);
      }
    }
  }

  @include breakpoint-up(small) {
    display: none;
  }
}
