@use "../abstract/" as *;

/* ................. Hero section ................. */
.hero {
  background: url("../../app/assets/patt.svg"),
    linear-gradient(
      190deg,
      rgba(3, 3, 3, 0.8),
      rgba(3, 3, 3, 0.8) 50%,
      rgba(255, 255, 255, 0.39)
    ),
    url("../../app/assets/checkbox.svg"),
    url("../../app/assets/pexels-junior-teixeira-2072060.jpg");

  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 5rem, cover, 50%, cover;
  background-position: left 3% bottom 3rem, center, right 10% center, center;
  background-blend-mode: darken, normal, overlay;
  width: 100%;
  height: 100vh;
  font-family: "Cocogoose", sans-serif;

  .hero-text {
    margin-top: 3rem;
    margin-bottom: 2.5rem;
  }

  .hero-top-desc {
    color: $last-color;
    font-size: $normal + 0.2rem;
  }

  .hero-title {
    color: $last-color;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
  }

  .hero-desc {
    padding: 0.5rem;
    font-size: $medium;
    color: $primary-color;
    outline: 1px solid #fff;
    width: fit-content;

    span {
      display: block;
      font-size: $normal + 0.2rem;
      font-style: italic;
    }
  }

  .arrow {
    stroke: #fff;
    position: absolute;
    width: 0.8rem;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    animation: arrow-move 2s ease-in-out 4;

    @keyframes arrow-move {
      from {
        bottom: 2rem;
      }

      50% {
        bottom: 0.2rem;
      }

      to {
        bottom: 2rem;
      }
    }
  }

  @include breakpoint-up(small) {
    background-attachment: fixed;

    .hero-title {
      font-size: calc($biggest + 2rem);
    }

    .hero-top-desc {
      margin-bottom: -1rem;
    }

    .hero-desc {
      font-size: $medium-big;
    }

    .hero-btn {
      display: none;
    }

    form {
      width: auto;
      display: inherit;
      gap: 1rem;
    }
  }
}
